[Unit]
Description=Detect and configure SONOFF ZBDongle-P
After=mosquitto.service
[Service]
Type=oneshot
ExecStart=/usr/local/sbin/divera-detect-zbdongle
